body{
  font-family: 'Varela Round', sans-serif;
  text-align: center;
	margin-top: 50px;
	color: #777;
}

h2 {
	color: #00aaee;
}

.center {
	margin: 0 auto;
	width: 900px;
}

.left_menu {
	width: 300px;
	float: left;
}

.board {
	width: 600px;
	float: left;
}

.group:after {
	display: block;
	clear: both;
	content: "";
}

.score {
	margin-bottom: 50px;
}

.button{
  width: 100px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
	margin: auto;
}

.button:hover{
  cursor: pointer;
	background: #fafafa;
}

li {
  list-style: none;
  float: left;
}

.grid {
  height: 500px;
  width: 500px;
  padding: 0;
  border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: relative;
}

.cell{
  height: 9px;
  width: 9px;
	border-radius: 3px;
  border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.game_over {
	position: absolute;
  height: 501px;
  width: 501px;
	background: #fff;
	opacity: 0.5;
}

.game_over span {
	display: block;
	padding-top: 220px;
	color: #00aaee;
	font-size: 30px;
	font-weight: bold;
	opacity: 1;
}

.hidden {
	display: none;
}

.snake {
  background-color: #34d100;
}

.apple{
  background-color: #ee0038;
}

.controls {
	margin-top: 50px;
	text-align: left;
	padding-left: 110px;
}

.controls div {
	width: 150px;
	padding: 5px;
	font-size: 12px;
}

.controls h4 {
	padding: 0;
	margin: 0;
}